@model TimeLink
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<form asp-action="Create" asp-controller="TimeLink">
    <div asp-validation-summary="All" class="text-danger"></div>
    <p>Empty for random generate</p>
    <div class="form-group">
        <label asp-for="Name" class="control-label">Name</label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Path" class="control-label">Path</label>
        <input type="text" asp-for="Path" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Time" class="control-label">Date-time</label>
        <input type="datetime-local" asp-for="Time" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-default" />
    </div>
</form>