@model IEnumerable<Link>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<a asp-area="" asp-controller="Link" asp-action="Create">Create</a><br />

@foreach(var link in Model)
{
    <a href="@link.Path">@link.Name</a><br />
}